/URA/papelao_azul/ex1/build/
/URA/papelao_azul/ex1/dist/

### C++ ###
# Prerequisites
Arena IEEE open/CPPremoteAPI/*.d

# Compiled Object files
Arena IEEE open/CPPremoteAPI/*.slo
Arena IEEE open/CPPremoteAPI/*.lo
Arena IEEE open/CPPremoteAPI/*.o
Arena IEEE open/CPPremoteAPI/*.obj

# Precompiled Headers
Arena IEEE open/CPPremoteAPI/*.gch
Arena IEEE open/CPPremoteAPI/*.pch

# Compiled Dynamic libraries
Arena IEEE open/CPPremoteAPI/*.so
Arena IEEE open/CPPremoteAPI/*.dylib
Arena IEEE open/CPPremoteAPI/*.dll

# Fortran module files
Arena IEEE open/CPPremoteAPI/*.mod
Arena IEEE open/CPPremoteAPI/*.smod

# Compiled Static libraries
Arena IEEE open/CPPremoteAPI/*.lai
Arena IEEE open/CPPremoteAPI/*.la
Arena IEEE open/CPPremoteAPI/*.a
Arena IEEE open/CPPremoteAPI/*.lib

# Executables
Arena IEEE open/CPPremoteAPI/*.exe
Arena IEEE open/CPPremoteAPI/*.out
Arena IEEE open/CPPremoteAPI/*.app



### NetBeans ###
Arena IEEE open/CPPremoteAPI/nbproject/private/
Arena IEEE open/CPPremoteAPI/build/
Arena IEEE open/CPPremoteAPI/nbbuild/
Arena IEEE open/CPPremoteAPI/dist/
Arena IEEE open/CPPremoteAPI/nbdist/
Arena IEEE open/CPPremoteAPI/.nb-gradle/

# End of https://www.gitignore.io/api/c++,cmake,netbeans
