/URA/papelao_azul/ex1/build/
/URA/papelao_azul/ex1/dist/
URA/papelao_azul/CPPremoteAPI_Papelao_conhecimentos/CMakeCache.txt
URA/papelao_azul/CPPremoteAPI_Papelao_conhecimentos/cmake_install.cmake
URA/papelao_azul/CPPremoteAPI_Papelao_conhecimentos/Makefile
URA/papelao_azul/CPPremoteAPI_Papelao_conhecimentos/nbproject/
URA/papelao_azul/CPPremoteAPI_Papelao_conhecimentos/CMakeFiles/
